@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Playfair Display', serif;;
}

body{
    background: url("../assets/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

img{
    width: 80%;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
    object-fit: cover;
}

@media screen and (max-width: 900px) {
  img {
    width: 100vw;
  }
}

input{
    outline: none;
}

.img-container{
    position: relative;
    overflow: hidden;
}

.img-container img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.react-tagsinput{
    flex: 1 !important;
    width: 100% !important;
    border-radius: 5px !important;
}

.react-tagsinput.black{
    border-color: #172933 !important;
}

.react-tagsinput.red{
    border-color: #E25F48 !important;
}

.react-tagsinput-input{
    width: 100px !important;
    outline: none !important;
    border-color: #172933 !important;
}

.react-tagsinput-tag{
    background: #172933 !important;
    color: white !important;
}

.text-editor .ql-editor{
    min-height: 200px;
    max-height:  700px;
    overflow-y: auto;
    overflow-x: hidden;
}

.ql-align-center{
    text-align: center;
}

.quill{
    padding: 0 !important;
}

h3 .ql-size-large{
    font-size: 1.3rem;
}

@layer components {
    .button-container {
        @apply p-2 px-4 border-orange-500 border-2 rounded-xl font-semibold hover:bg-orange-400 cursor-pointer ;
    }
}
